
build/ticketprice/base_library.zip
__pycache__/ticketprice.cpython-38.pyc
build/ticketprice/Analysis-00.toc
build/ticketprice/EXE-00.toc
build/ticketprice/PKG-00.pkg
build/ticketprice/PKG-00.toc
build/ticketprice/PYZ-00.pyz
build/ticketprice/PYZ-00.toc
build/ticketprice/ticketprice.exe.manifest
build/ticketprice/Tree-00.toc
build/ticketprice/Tree-01.toc
build/ticketprice/warn-ticketprice.txt
build/ticketprice/xref-ticketprice.html
.env
build/*
venv/
output/*
.DS_Store